@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap');

$font-primary: "Inter", sans-serif;

$primary: #2f7d32;
$secondary: #1b5e20;

$accent: #ffb703;

$text: #1f1f1f;
$white: #ffffff;
$gray: #f4f4f4;

$container-width: 1200px;

$radius: 14px;

$transition: all .3s ease;